<div class="search-page">
  <div class="search-container"  [ngClass]="{'expanded': isExpanded}">
      <h1 class="search-logo" [ngClass]="{'logo-hidden':isExpanded}">GOOGLE</h1>
      <div class="search-box" [ngClass]="{'input-focused':isExpanded}">
        <input #searchInput (keyup.enter)="search()" id="search-input" type="text" class="search-input" placeholder="Rechercher..." [(ngModel)]="searchQuery"  (focus)="expandContainer()" (blur)="undoExpand()" />
        <button class="search-btns" (click)="search()"><img src="../../assets/search.png"></button>
        <button class="search-btns" (click)="openPopup()" ><img src="../../assets/filtre.png"></button>
        <button class="search-btns" [ngClass]="{'close-icon-hidden':!isQueryFilled()}" (click)="handleDeleteQuery()">
          <svg class="close-icon" viewBox="0 0 20 20">
            <path d="M10.185,1.417c-4.741,0-8.583,3.842-8.583,8.583c0,4.74,3.842,8.582,8.583,8.582S18.768,14.74,18.768,10C18.768,5.259,14.926,1.417,10.185,1.417 M10.185,17.68c-4.235,0-7.679-3.445-7.679-7.68c0-4.235,3.444-7.679,7.679-7.679S17.864,5.765,17.864,10C17.864,14.234,14.42,17.68,10.185,17.68 M10.824,10l2.842-2.844c0.178-0.176,0.178-0.46,0-0.637c-0.177-0.178-0.461-0.178-0.637,0l-2.844,2.841L7.341,6.52c-0.176-0.178-0.46-0.178-0.637,0c-0.178,0.176-0.178,0.461,0,0.637L9.546,10l-2.841,2.844c-0.178,0.176-0.178,0.461,0,0.637c0.178,0.178,0.459,0.178,0.637,0l2.844-2.841l2.844,2.841c0.178,0.178,0.459,0.178,0.637,0c0.178-0.176,0.178-0.461,0-0.637L10.824,10z"></path>
          </svg>
        </button>
      </div>
      <div class="error-msg" *ngIf="isError">Veuillez tapez des mots clés pour commencer</div>
      
      
      <div class="footer-links">
          <a routerLink="/aboutUs" class="footer-link">À propos</a>
          <div class="footer-links-right">
              <a href="#" class="footer-link">Confidentialité</a>
              <a href="#" class="footer-link">Conditions</a>
          </div>
      </div>
  </div>
  <!--webpage - video - ...-->
  <div *ngIf="isExpanded" class="results-container">
    <div *ngIf="!searchQuery.length" class="help-text"><span>Commencer à rechercher des endroits, vous pouvez filtrer les résultats.</span></div>
    <div *ngIf="searchQuery.length" class="results-data">
      <div class="results-header">
        <h2 class="results-title">Results ({{results.length}})</h2>
        <button class="filter-option" [ngClass]="{'selected-option':selectedDocType==='all'}" (click)="changeSelectedDocType('all')">All</button>
        <button class="filter-option" [ngClass]="{'selected-option':selectedDocType==='webpage'}" (click)="changeSelectedDocType('webpage')">Web</button>
        <button class="filter-option" [ngClass]="{'selected-option':selectedDocType==='image'}" (click)="changeSelectedDocType('image')">Images</button>
        <button class="filter-option" [ngClass]="{'selected-option':selectedDocType==='video'}" (click)="changeSelectedDocType('video')">Videos</button>
      </div>
      <div class="results">
        <div *ngFor="let result of renderedResults" class="result">
          <a class="result-type" href="{{isDocImg(result)?result.imageLink:'#'}}">
            <img class="doctype-icon" [ngClass]="{'res-img':isDocImg(result)}" src="{{ isDocImg(result)? result.imageLink :docTypesIcons[result.type]}}" alt="" srcset="">
          </a>
          <div class="result-info" [ngClass]="{'res-img-info':isDocImg(result)===true}">
            <a href="{{result.link}}" class="result-title">{{result.name}}</a>
            <p class="description" >{{result.description}}</p>
          </div>
          <div class="result-score">
            Score : <b>{{result.score | number: "1.3-3"}}</b>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>