<div class="search-container">
  <h1>GOOGLE</h1>
  <div class="search-box">
    <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" />
    <button ><img src="../../assets/keyboard.png"></button>
    <button (click)="search()"><img src="../../assets/search.png"></button>
    <button  (click)="openPopup()"><img src="../../assets/filtre.png"></button>

  </div>
  <div class="footer-links">
      <a routerLink="/aboutUs" class="footer-link">À propos</a>
      <div class="footer-links-right">
          <a href="#" class="footer-link">Confidentialite</a>
          <a href="#" class="footer-link">Conditions</a>
      </div>
</div>