.search-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    transition-duration: 0.3s;
    
}

.search-page{
  width: 100%;
  height: 100vh;
  background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(20, 20, 20, 0.8),rgba(20, 20, 20, 0.8)),url('../../assets/background.jpg');
}
.search-logo{
  transition: opacity 0.3s,margin-bottom 0.3s,transform 0.3s;
  height: 5rem;
}
.expanded{
  height: 7rem;
}
.input-focused{
  padding: 0;
}
.logo-hidden{
  opacity: 0;
  transform: scaleY(0);
  margin: 0;

  
}
  

h1{
    font-family: century gothic;
    color : #fff;
    letter-spacing: 3px;
    font-size: 60px;
    margin-bottom: 30px;
  }
  
  .search-box {
    width: 75%;
    max-width: 600px;
    align-items: center;
    display: flex;
    padding: 5px 20px;
    background-color:rgba(255, 255, 255, 0.1) ;
    border-radius: 50px;
    
  }
  .description {
    max-height: 3 * 1.2em; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
  }
  
  input {
    padding: 15px 20px;
    flex : 1;
    background: transparent;
    border : none ;
    outline: none;
    color: #fff; 
    font-size: 15px;
    font-family: century gothic;

  }
  
  .search-btns {
    background: transparent;
    border: none;
    width: 50px;
    height: 50px;
    filter : invert(100);

  }
  .search-btns:hover {
    cursor: pointer;
    transition: .3s;
    filter: none;
  }

  button img{
    width : 25px;
    height: 25px;
  }

  .footer-links {
    position: absolute;
    z-index: 2;
    bottom: 20px; 
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    font-family: century gothic;
}

.footer-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 2px;
    margin-right: 20px;
    margin-left: 20px;

}
.close-icon{
  height: 20px;
  width: 20px;
}
.close-icon-hidden{
  display:none;
}
.footer-links-right {
    display: flex;
}
.results-title{
  font-family: century gothic;
  color : #fff;
  letter-spacing: 3px;
  font-size: 2.3rem;
  margin-bottom: 2rem;
}
.results-container{
  padding-top: 2rem;
  display :flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.help-text{
  color: white;
  font-family: century gothic;
}
.results{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow-y:scroll;
  max-height: 60vh;
}

.result{
  width: 80%;
  color: white;
  border-radius: 15px;
  backdrop-filter: blur(7px);
  border: solid white 2px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: century gothic;
}
.result-info{
  width: 80%;
}
.result-title{
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
  color: white;
  font-weight: bold;
}
.save-btn{
  background-color: white;
  border-radius: 50%;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  border: none;
  cursor: pointer;
}
.save-btn > svg{
  min-height: 10px;
  min-width: 10px;
}
.error-msg{
  padding: 1rem;
  border-radius: 15px;
  background-color: none;
  backdrop-filter: blur(10px);
  border: 2px solid rgb(226, 226, 0);
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: rgb(226, 226, 0);
  font-family: century gothic;
}